.v-application{
    font-family: Verdana;

    .v-list--nav .v-list-subheader{
        font-size: 1rem;
    }

    .v-list-item--nav .v-list-item-title{
        font-size:1rem;
        line-height: 1.5rem;
    }
}